<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        <%= user_avatar message.user %>
      </div>
      <div class="col-md-11">
        <p class="card-text">
          <span class="text-muted"><%= link_to message.user.nickname, edit_user_registration_path(:id => message.user.id) %> at <%= message.timestamp %> says</span><br>
          <%= message.body %>
        </p>
      </div>
    </div>
  </div>
</div>
