<div class="ui four column doubling stackable grid cards">

      <% @users.each do |user| %>
        <div class="ui fluid card">
            <a class="image" href="#">
                <%= image_tag user_avatar(user, :medium) %>
            </a>
            <div class="content">
              <a class="header" href="#"><%= user.nickname %></a>
              <div class="meta">
                <a><%= user_info(user) %></a>
              </div>
            </div>
        </div>
      <% end %>

</div>
