<div class="level level-hero hero-home has-hint">
		<div class="hero-overlay visible-lg"></div>

		<div class="container full-height">
			<div class=v-align-parent>
				<div class=v-center>
					<div class="row">
						<div class="col-xs-10 col-sm-6">
							<h1 class="mb-10 heading">Welcome<span>On Board.</span></h1>
							<div class="subheading mb-20">Lorem Ipsum is simply dummy text of the <br class=hidden-xs>printing and typesetting industry. </div>
						</div>
					</div>
					<div>
						<a class="btn btn-prepend btn-launch-video" href="/users/sign_in">
							<i class="prepended icon-append-play"></i>Sign in
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
