<h1>Chat rooms</h1>

<p class="lead"><%= link_to 'New public room', new_public_room_path, class: 'btn btn-primary' %></p>
<p class="lead"><%= link_to 'New private room', new_private_room_path, class: 'btn btn-primary' %></p>

<ul>
  <% if @rooms then %>
    <% @rooms.each do |room| %>
      <li><%= link_to "Enter base: #{room.title}", public_room_path(room) %></li>
    <% end %>
  <% end %>
</ul>
