<div class="ui four column doubling stackable grid cards" id="rooms-list">
  <div class="ui card">
    <div class="content">
      <div class="header">Create chat room</div>
    </div>
    <div class="content">
      <h4 class="ui sub header">No subject restrictions</h4>
      <div class="ui small feed">
        <div class="event">
          <div class="content">
            <div class="summary">
               <a>You</a> can talk about <a>anything</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra content">
      <%= button_to 'Create public chat room', new_room_path, class: 'ui button', method: :get %>
    </div>
  </div>

  <%= render @rooms %>
</div>


<div id="infinite-scrolling">
  <%= will_paginate %>
</div>
