/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";
@import "chatbox";

body {
  margin-top: 72px;
  min-height: 100%;

  background:transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.container{
  min-height: 100%;
  background-color: rgba(255,255,255,.9);
}

.acontainer{
  padding: 15px;
}

html {
  background: url(body.jpg) no-repeat center center fixed;
  min-height:100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

body.pushable>.pusher {
  background: url(body.jpg) no-repeat center center fixed;
}

#historybutton {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.ui.comments .comment img.avatar,
.ui.comments .comment .avatar img {
  display: block;
  margin: 0em auto;
  width: 100%;
  height: auto; // 100% doesn't work but auto does
}

.ui.comments{
  max-height: 60%;
  max-width: 100%;
  overflow-y: auto;
}
