<div class="ui right sidebar vertical menu">
  <div class="scrollable">
    <div class="ui relaxed divided list">
      <%= render 'rooms/conversation', collection: @conversations %>
    </div>
  </div>
</div>
